@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Sora:wght@500&display=swap");
html, body {
  width: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none; }

.mobile-nav3, .internal-link3 {
  display: none;
  color: #4456FB;
  left: -264px;
  top: 170px; }

.mobile-nav33, .internal-link33 {
  display: none;
  color: #4456FB;
  left: -264px;
  top: 170px; }

.icon-11 {
  display: none; }

#pc1 {
  display: none;
  padding-top: 2vh; }

.site-nav2 {
  visibility: hidden; }

.overlay {
  font-style: normal;
  width: 100vw;
  height: 550px;
  left: 0;
  top: 0;
  background: linear-gradient(248.05deg, rgba(174, 91, 214, 0.7) 24.1%, rgba(64, 82, 240, 0.7) 99.44%);
  z-index: 0; }

.top-div {
  font-style: normal;
  width: 100vw;
  height: 550px;
  left: 0;
  top: -1px;
  background: url("assets/img/mb-background.jpg");
  object-fit: cover;
  background-blend-mode: screen; }

.icon-1 {
  font-style: normal;
  font-family: Poppins;
  font-weight: 800;
  font-size: 20px;
  color: #FFFFFF;
  width: 64px;
  height: 64px;
  left: 25px;
  top: 31p;
  z-index: 10;
  background: #4456FB;
  border-radius: 50%; }

#pc {
  z-index: 2;
  margin-left: 25%;
  z-index: 2;
  padding-top: 2vh; }

.mobile-nav {
  z-index: 3;
  visibility: visible;
  font-style: normal;
  font-family: Sora;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  width: 100vw;
  height: 32px;
  left: 115px;
  top: 38px;
  line-height: 338.5%; }

.internal-link {
  visibility: visible;
  color: white;
  text-decoration: none; }

.mobile-nav2 {
  z-index: 2;
  visibility: hidden;
  font-style: normal;
  font-family: Sora;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  width: 100vw;
  height: 32px;
  left: 115px;
  top: 38px; }

.internal-link2 {
  visibility: hidden;
  color: white;
  text-decoration: none; }

.icon-11 {
  font-style: normal;
  font-family: Poppins;
  font-weight: 800;
  font-size: 20px;
  color: #FFFFFF;
  width: 64px;
  height: 64px;
  left: 25px;
  top: 31p;
  z-index: 10;
  background: #4456FB;
  border-radius: 50%; }

#pc1 {
  z-index: 2;
  margin-left: 25%;
  z-index: 2; }

.mobile-nav3 {
  z-index: 3;
  visibility: visible;
  font-style: normal;
  font-family: Sora;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  width: 100vw;
  height: 32px;
  left: 115px;
  top: 38px;
  line-height: 338.5%; }

.internal-link3 {
  visibility: visible;
  color: white;
  text-decoration: none; }

.mobile-nav33 {
  z-index: 2;
  visibility: hidden;
  font-style: normal;
  font-family: Sora;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  width: 100vw;
  height: 32px;
  left: 115px;
  top: 38px; }

.internal-link33 {
  visibility: hidden;
  color: white;
  text-decoration: none; }

.big-words-mobile {
  margin-top: 43px;
  z-index: 2;
  font-style: normal;
  font-family: Sora;
  font-weight: bold;
  font-size: 2.2rem;
  color: #FFFFFF;
  width: 100vw;
  height: 43px;
  left: 30px;
  top: 131px;
  margin-left: 0;
  margin-bottom: 54px;
  line-height: 105.3%; }

.big-words-mobile2 {
  z-index: 2;
  margin-left: 0;
  font-style: normal;
  font-family: Sora;
  font-weight: bold;
  font-size: 1.2rem;
  color: #FFFFFF;
  width: 80vw;
  height: 29px;
  left: 30px;
  top: 194px;
  line-height: 105.3%; }

.intro {
  z-index: 2;
  margin-left: 0;
  font-style: normal;
  font-family: Sora;
  font-weight: normal;
  font-size: 0.8rem;
  color: #FFFFFF;
  width: 100vw;
  height: 136px;
  left: 30px;
  top: 257px;
  line-height: 20px; }

.social {
  font-style: normal;
  z-index: 2;
  color: #FFFFFF;
  width: 100vw;
  height: 104px;
  left: 13px;
  top: 405px;
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: -10px; }

.social-1 {
  z-index: 2;
  font-style: normal;
  font-family: Sora;
  font-weight: normal;
  font-size: 1rem;
  color: #4F5461;
  width: 80vw;
  height: 34px;
  left: 31px;
  top: 425px;
  line-height: 20px;
  margin-right: -10px;
  width: 50vw; }

.github {
  font-style: normal;
  z-index: 2;
  color: #FFFFFF;
  width: 27.46px;
  height: 27px;
  left: 30px;
  top: 461px;
  background: #FFFFFF; }

.twitt {
  font-style: normal;
  z-index: 2;
  color: #FFFFFF;
  width: 27px;
  height: 22.31px;
  left: 320px;
  top: 463px;
  background: #FFFFFF; }

.in {
  font-style: normal;
  z-index: 2;
  color: #FFFFFF;
  width: 27px;
  height: 22.31px;
  left: 180px;
  top: 463px;
  background: #FFFFFF; }

.portfolio {
  font-style: normal;
  font-family: Sora;
  font-weight: bold;
  font-size: 28px;
  color: #4F5461;
  width: 100vw;
  height: 29px;
  left: 28px;
  top: 585px;
  line-height: 105.3%; }

.projects {
  font-style: normal;
  z-index: 2;
  color: #FFFFFF;
  width: 100vw;
  height: 217.24px;
  left: 30px;
  top: 644px;
  background-color: #F5F8FD;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 10px; }

.projects-pic {
  font-style: normal;
  z-index: 2;
  color: #FFFFFF;
  width: 100vw;
  height: 217.24px;
  left: 30px;
  top: 644px;
  background: url("assets/img/Screenshot(15).png");
  object-fit: cover;
  background-blend-mode: screen;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 10px;
  background-repeat: no-repeat; }

.projectText {
  font-size: .7rem; }

.projects-title {
  display: none; }

#second-div {
  background: url("assets/img/Screenshot(15).png");
  object-fit: cover;
  background-blend-mode: screen;
  background-repeat: no-repeat; }

#third-div {
  background: url("assets/img/Screenshot(27).png");
  object-fit: cover;
  background-blend-mode: screen;
  top: 1382px;
  background-repeat: no-repeat; }

#fourth-div {
  object-fit: cover;
  background-blend-mode: screen;
  top: 1754px; }

#fifth-div {
  background: url("assets/img/Screenshot(17).png");
  object-fit: cover;
  background-blend-mode: screen;
  top: 2126px; }

#sixth-div {
  object-fit: cover;
  background-blend-mode: screen;
  top: 2498px; }

.projects-title {
  z-index: 4;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  width: 78.45px;
  height: 16.09px;
  left: 49.11px;
  top: 661.1px;
  line-height: 105.3%; }

#second {
  top: 1035px; }

#third {
  top: 1404.93px; }

#fourth {
  top: 1778.05px; }

#fifth {
  top: 2152px; }

#sixth {
  top: 2526px; }

#wordMargin1 {
  margin-top: 25px; }

#wordMargin2 {
  margin-top: 0; }

#wordMargin3 {
  margin-top: 40px; }

.left-button {
  font-style: normal;
  width: 91px;
  height: 30px;
  left: 30px;
  top: 878px;
  z-index: 4;
  background: #4456FB;
  border-radius: 40px; }

.middle-button {
  z-index: 4;
  font-style: normal;
  width: 111px;
  height: 30px;
  left: 128px;
  top: 878px;
  background: #4456FB;
  border-radius: 40px; }

.right-button {
  z-index: 4;
  font-style: normal;
  width: 91px;
  height: 30px;
  left: 264px;
  top: 878px;
  background: #4456FB;
  border-radius: 40px; }

.big-button {
  z-index: 4;
  font-style: normal;
  width: 50vw;
  height: 59px;
  left: 30px;
  top: 924px;
  padding: 1vw;
  background: #4456FB;
  border-radius: 60px; }

#big-button2 {
  z-index: 4;
  padding: 1vw; }

#big-button3 {
  z-index: 4;
  padding: 1vw; }

#big-button4 {
  z-index: 4;
  padding: 1vw; }

#big-button5 {
  z-index: 4;
  padding: 1vw; }

#big-button6 {
  z-index: 4;
  padding: 1vw; }

#left-button2 {
  z-index: 4;
  top: 1245px; }

#middle-button2 {
  z-index: 4;
  top: 1245px; }

#right-button2 {
  z-index: 4;
  top: 1245px; }

#left-button3 {
  z-index: 4;
  top: 1617px; }

#middle-button3 {
  z-index: 4;
  top: 1617px; }

#right-button3 {
  z-index: 4;
  top: 1617px; }

#left-button4 {
  z-index: 4;
  top: 1991px; }

#middle-button4 {
  z-index: 4;
  top: 1991px; }

#right-button4 {
  z-index: 4;
  top: 1991px; }

#left-button5 {
  z-index: 4;
  top: 2365px; }

#middle-button5 {
  z-index: 4;
  top: 2365px; }

#right-button5 {
  z-index: 4;
  top: 2365px; }

#left-button6 {
  z-index: 4;
  top: 2739px; }

#middle-button6 {
  z-index: 4;
  top: 2739px; }

#right-button6 {
  z-index: 4;
  top: 2739px; }

.left-text {
  z-index: 5;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  width: 81px;
  height: 21px;
  left: 35px;
  top: 884px;
  line-height: 21px;
  text-align: center; }

.middle-text {
  z-index: 5;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  width: 111px;
  height: 21px;
  left: 128px;
  top: 883px;
  line-height: 21px;
  text-align: center; }

.right-text {
  z-index: 5;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  width: 91px;
  height: 21px;
  left: 265px;
  top: 883px;
  line-height: 21px;
  text-align: center; }

.big-button-text {
  z-index: 5;
  font-style: normal;
  font-family: Poppins;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  width: 100vw;
  height: 19px;
  left: 65px;
  top: 946px;
  line-height: 105.3%;
  text-align: center; }

.l-2L {
  top: 1250px; }

.l-2M {
  top: 1250px; }

.l-2R {
  top: 1250px; }

.l-3L {
  top: 1622px; }

.l-3M {
  top: 1622px; }

.l-3R {
  top: 1622px; }

.l-4L {
  top: 1997px; }

.l-4M {
  top: 1997px; }

.l-4R {
  top: 1997px; }

.l-5L {
  top: 2372px; }

.l-5M {
  top: 2372px; }

.l-5R {
  top: 2372px; }

.l-6L {
  top: 2747px; }

.l-6M {
  top: 2747px; }

.l-6R {
  top: 2747px; }

.big-2 {
  top: 1295px; }

.big-3 {
  top: 1678px; }

.big-4 {
  top: 2047px; }

.big-5 {
  top: 2425px; }

.big-6 {
  top: 2798px; }

.portSec {
  width: 100vw;
  margin-top: -20px; }

.firstButton {
  margin-right: 54px;
  margin-left: 32px; }

.fixx3 {
  margin-right: 5px; }

/* About me */
.about-me {
  font-style: normal;
  font-family: Sora;
  font-weight: bold;
  font-size: 28px;
  color: #4F5461;
  width: 159px;
  height: 29px;
  left: 35px;
  top: 2870px;
  font-size: 28px;
  line-height: 105.3%; }

.about-me2 {
  font-style: normal;
  font-family: Sora;
  font-weight: normal;
  font-size: 16px;
  color: #4F5461;
  width: 100vw;
  height: 111px;
  left: 35px;
  top: 2917px;
  line-height: 20px;
  margin-bottom: 25px;
  font-size: .8rem; }

/* Rectangle 11 */
.get-resume {
  font-style: normal;
  width: 193px;
  height: 59px;
  left: 35px;
  top: 3065px;
  height: 3vh;
  margin-bottom: 50px;
  margin-top: 11px;
  background: #4456FB;
  border-radius: 60px;
  padding: 1vw; }

.get-resume-text {
  font-style: normal;
  font-family: Sora;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  width: 156px;
  height: 19px;
  left: 55.44px;
  top: 3074px;
  z-index: 10;
  line-height: 105.3%;
  text-align: center; }

.get-resume-text2 {
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Sora;
  font-weight: bold;
  font-size: 16px;
  line-height: 105.3%;
  text-align: center;
  margin-top: 0; }

/* Rectangle 33 */
.languages-background {
  font-style: normal;
  width: 100vw;
  height: 254px;
  left: 35px;
  top: 3165px;
  background: #F5F8FD;
  border-radius: 10px; }

.languages-text {
  font-style: normal;
  font-family: Sora;
  font-weight: bold;
  font-size: 22px;
  color: #4F5461;
  width: 145.44px;
  height: 23px;
  left: 67px;
  top: 3196px;
  line-height: 105.3%;
  margin-left: 17vw; }

/* JavaScript (ES5/ES6) Ruby HTML CSS */
.languages-text2 {
  font-style: normal;
  font-family: Sora;
  font-weight: normal;
  font-size: 16px;
  color: #4F5461;
  width: 100vw;
  height: 151px;
  left: 67px;
  top: 3238px;
  line-height: 242.5%;
  margin-left: 17vw; }

.frameworks-background {
  font-style: normal;
  width: 100vw;
  height: 289px;
  left: 35px;
  top: 3437px;
  background: #F5F8FD;
  border-radius: 10px; }

.frameworks-text {
  font-style: normal;
  font-family: Sora;
  font-weight: bold;
  font-size: 22px;
  color: #4F5461;
  width: 140px;
  height: 23px;
  left: 61px;
  top: 3468px;
  line-height: 105.3%;
  margin-left: 17vw; }

.frameworks-text2 {
  font-style: normal;
  font-family: Sora;
  font-weight: normal;
  font-size: 16px;
  color: #4F5461;
  width: 217px;
  height: 206px;
  left: 61px;
  top: 3509px;
  line-height: 242.5%;
  margin-left: 17vw; }

.skills-background {
  font-style: normal;
  width: 100vw;
  height: 326px;
  left: 35px;
  top: 3744px;
  background: #F5F8FD;
  border-radius: 10px; }

.skills-text {
  font-style: normal;
  font-family: Sora;
  font-weight: bold;
  font-size: 22px;
  color: #4F5461;
  width: 63px;
  height: 23px;
  left: 64px;
  top: 3775px;
  line-height: 105.3%;
  margin-left: 17vw; }

.skills-text2 {
  font-style: normal;
  font-family: Sora;
  font-weight: normal;
  font-size: 16px;
  color: #4F5461;
  width: 216px;
  height: 232px;
  left: 64px;
  top: 3816px;
  line-height: 242.5%;
  margin-left: 17vw; }

.colab-section {
  float: right;
  width: 90vw;
  margin-bottom: -97px;
  margin-right: 30px; }

.collaboration-text {
  font-style: normal;
  font-family: Sora;
  font-weight: bold;
  font-size: 28px;
  color: #4F5461;
  width: 100vw;
  height: 58px;
  left: 35px;
  top: 4119px;
  line-height: 105.3%; }

.collaboration-text2 {
  font-style: normal;
  font-family: Poppins;
  font-weight: normal;
  font-size: 16px;
  color: #4F5461;
  width: 100vw;
  height: 84px;
  left: 35px;
  top: 4193px;
  line-height: 24px;
  width: 100vw; }

.footerBackground {
  font-style: normal;
  width: 100vw;
  height: 750px;
  left: 0;
  top: 4414px;
  background: linear-gradient(234.04deg, #7F38DA 0%, #4052F0 71.02%);
  margin-top: 130px;
  padding-top: 32px; }

#fname1 {
  font-style: normal;
  width: 100%;
  height: 59px;
  left: 22px;
  top: 4434px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  box-shadow: 0px 7px 15px rgba(95, 104, 186, 0.13);
  border-radius: 14px;
  margin-bottom: 32px; }

#fname2 {
  font-style: normal;
  width: 100%;
  height: 59px;
  left: 22px;
  top: 4514px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  box-shadow: 0px 7px 15px rgba(95, 104, 186, 0.13);
  border-radius: 14px; }

#fname3 {
  font-style: normal;
  width: 100%;
  height: 185px;
  left: 22px;
  top: 4614px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  box-shadow: 0px 7px 15px rgba(95, 104, 186, 0.13);
  border-radius: 14px; }

#labe {
  position: absolute;
  top: 3660px; }

#form-button {
  font-style: normal;
  width: 20vw;
  height: 59px;
  left: 22px;
  top: 4819px;
  background: #FA4969;
  border-radius: 60px; }

.email {
  font-style: normal;
  font-family: Sora;
  font-weight: normal;
  font-size: 16px;
  color: #C5CBFE;
  width: 177px;
  height: 34px;
  left: 106px;
  top: 4914px;
  line-height: 20px;
  margin-left: 30vw; }

.social2 {
  font-style: normal;
  z-index: 2;
  color: #FFFFFF;
  width: 100vw;
  height: 104px;
  left: 13px;
  top: 4994px;
  background: #FFFFFF;
  border-radius: 20px; }

.github2 {
  font-style: normal;
  z-index: 2;
  color: #FFFFFF;
  width: 27.46px;
  height: 27px;
  left: 30px;
  top: 5014px; }

.in2 {
  font-style: normal;
  z-index: 2;
  color: #FFFFFF;
  width: 27px;
  height: 22.31px;
  left: 180px;
  top: 5014px; }

.twitt2 {
  font-style: normal;
  z-index: 2;
  color: #FFFFFF;
  width: 27px;
  height: 22.31px;
  left: 320px;
  top: 5014px; }

.hline {
  font-style: normal;
  z-index: 2;
  color: #9999FF;
  width: 95%;
  height: 0;
  left: 21px;
  top: 5094px;
  border: 2px solid #9999FF; }

.bottom {
  font-style: normal;
  font-family: Sora;
  font-weight: normal;
  font-size: 16px;
  color: #C5CBFE;
  width: 194px;
  height: 30px;
  left: 91px;
  top: 5134px;
  line-height: 20px;
  margin-left: 30vw; }

.social-footer {
  margin-left: 40vw; }

.footerClass {
  float: right;
  width: 98vw;
  margin-top: 108px; }

@media (min-width: 480px) {
  .siteNav {
    color: black;
    width: 20vw;
    display: inline-block;
    margin-bottom: 380px; }

  .site-nav2 {
    visibility: hidden !important; }

  .overlay {
    font-style: normal;
    width: 70vw;
    height: 500px;
    left: 301px;
    top: -1px;
    border-radius: 0 0 0 35%;
    float: right; }

  .top-div {
    font-style: normal;
    width: 70vw;
    height: 500px;
    left: 301px;
    top: -1px;
    border-radius: 0 0 0 35%;
    float: right; }

  .mobile-nav3, .internal-link3 {
    display: block;
    color: #4456FB;
    left: -264px;
    top: 170px; }

  .mobile-nav33, .internal-link33 {
    display: block;
    color: #4456FB;
    left: -264px;
    top: 170px; }

  .pageLinks {
    width: 5vw; }

  .icon-11 {
    display: block; }

  #pc1 {
    padding-top: 2vh;
    display: block; }

  .icon-1 {
    display: none; }

  #pc {
    display: none; }

  .mobile-nav, .internal-link {
    display: none;
    color: #4456FB;
    left: -264px;
    top: 170px; }

  .mobile-nav2, .internal-link2 {
    display: none;
    color: #4456FB;
    left: -264px;
    top: 170px; }

  .big-words-mobile {
    margin-left: 10px; }

  .big-words-mobile2 {
    margin-left: 10px; }

  .intro {
    width: 450px;
    left: 300px;
    margin-left: 10px; }

  .social {
    font-style: normal;
    width: 69vw;
    height: 51px;
    left: 300px;
    top: 350px;
    display: flex;
    justify-content: space-evenly; }

  .social-1 {
    width: 20rem;
    font-size: 1.1rem;
    margin-left: -1vw;
    margin-right: -70px; }

  .github {
    left: 900px;
    top: 365px; }

  .twitt {
    left: 980px;
    top: 365px; }

  .in {
    left: 1050px;
    top: 365px; }

  .portfolioDiv {
    display: flex;
    justify-content: space-evenly;
    float: right;
    margin-top: 50px;
    margin-right: 10px; }

  #portfolioDiv11 {
    margin-right: 10px; }

  .fixx {
    margin-right: 2vw; }

  .portfolio {
    font-style: normal;
    width: 531px;
    height: 29px;
    left: 515px;
    top: 710px;
    margin-left: 45vw; }

  .projects {
    font-style: normal;
    width: 45vw;
    height: 280px;
    left: 517px;
    top: 788px;
    z-index: 2; }

  .projects-pic {
    font-style: normal;
    width: 50vw;
    height: 280px;
    left: 517px;
    top: 788px; }

  #second-div {
    font-style: normal;
    width: 50vw;
    height: 280px;
    left: 944px;
    top: 788px; }

  #third-div {
    font-style: normal;
    width: 50vw;
    height: 280px;
    left: 517px;
    top: 1085px; }

  #fourth-div {
    font-style: normal;
    width: 50vw;
    height: 280px;
    left: 944px;
    top: 1085px; }

  #fifth-div {
    font-style: normal;
    width: 50vw;
    height: 280px;
    left: 517px;
    top: 1382px; }

  #sixth-div {
    font-style: normal;
    width: 50vw;
    height: 280px;
    left: 944px;
    top: 1382px; }

  #second {
    display: none;
    top: 1035px; }

  #third {
    display: none;
    top: 1404.93px; }

  #fourth {
    display: none;
    top: 1778.05px; }

  #fifth {
    display: none;
    top: 2152px; }

  #sixth {
    display: none;
    top: 2526px; }

  #wordMargin1 {
    margin-top: 55px; }

  #wordMargin2 {
    margin-top: 35px; }

  #wordMargin3 {
    margin-top: 55px; }

  .big-button {
    font-style: normal;
    width: 315px;
    height: 59px;
    left: 560px;
    top: 980px;
    background: #4456FB;
    border-radius: 60px; }

  #big-button2 {
    left: 980px;
    top: 995px; }

  #big-button3 {
    left: 560px;
    top: 1291px; }

  #big-button4 {
    left: 980px;
    top: 1291px; }

  #big-button5 {
    left: 560px;
    top: 1591px; }

  #big-button6 {
    left: 980px;
    top: 1591px; }

  .left-button {
    font-style: normal;
    width: 91px;
    height: 30px;
    left: 530px;
    top: 810px;
    background: #4456FB;
    border-radius: 40px; }

  .middle-button {
    font-style: normal;
    width: 111px;
    height: 30px;
    left: 630px;
    top: 810px;
    background: #4456FB;
    border-radius: 40px; }

  .right-button {
    font-style: normal;
    width: 91px;
    height: 30px;
    left: 750px;
    top: 810px;
    background: #4456FB;
    border-radius: 40px; }

  #left-button2 {
    left: 960px;
    top: 810px; }

  #middle-button2 {
    left: 1060px;
    top: 810px; }

  #right-button2 {
    left: 1180px;
    top: 810px; }

  #left-button3 {
    top: 1110px; }

  #middle-button3 {
    top: 1110px; }

  #right-button3 {
    top: 1110px; }

  #left-button4 {
    left: 960px;
    top: 1110px; }

  #middle-button4 {
    left: 1060px;
    top: 1110px; }

  #right-button4 {
    left: 1180px;
    top: 1110px; }

  #left-button5 {
    top: 1420px; }

  #middle-button5 {
    top: 1420px; }

  #right-button5 {
    top: 1420px; }

  #left-button6 {
    left: 960px;
    top: 1420px; }

  #middle-button6 {
    left: 1060px;
    top: 1420px; }

  #right-button6 {
    left: 1180px;
    top: 1420px; }

  .left-text {
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    width: 81px;
    height: 21px;
    left: 535px;
    top: 815px;
    line-height: 21px;
    text-align: center; }

  .middle-text {
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    width: 111px;
    height: 21px;
    left: 630px;
    top: 815px;
    line-height: 21px;
    text-align: center; }

  .right-text {
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    width: 91px;
    height: 21px;
    left: 750px;
    top: 815px;
    line-height: 21px;
    text-align: center; }

  .projectText {
    font-size: .8rem; }

  .l-2L {
    left: 965px;
    top: 815px; }

  .l-2M {
    left: 1060px;
    top: 815px; }

  .l-2R {
    left: 1180px;
    top: 815px; }

  .l-3L {
    left: 535px;
    top: 1115px; }

  .l-3M {
    left: 630px;
    top: 1115px; }

  .l-3R {
    left: 750px;
    top: 1115px; }

  .l-4L {
    left: 965px;
    top: 1115px; }

  .l-4M {
    left: 1060px;
    top: 1115px; }

  .l-4R {
    left: 1180px;
    top: 1115px; }

  .l-5L {
    left: 535px;
    top: 1425px; }

  .l-5M {
    left: 630px;
    top: 1425px; }

  .l-5R {
    left: 750px;
    top: 1425px; }

  .l-6L {
    left: 965px;
    top: 1425px; }

  .l-6M {
    left: 1060px;
    top: 1425px; }

  .l-6R {
    left: 1180px;
    top: 1425px; }

  .big-button-text {
    font-style: normal;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    width: 254.8px;
    height: 19px;
    left: 580px;
    top: 1000px;
    line-height: 105.3%;
    text-align: center; }

  .big-2 {
    left: 1000px;
    top: 1000px; }

  .big-3 {
    left: 585px;
    top: 1305px; }

  .big-4 {
    left: 1010px;
    top: 1305px; }

  .big-5 {
    left: 585px;
    top: 1600px; }

  .big-6 {
    left: 1010px;
    top: 1600px; }

  .portSec {
    width: 80vw; }

  .firstButton {
    margin-right: 5px; }

  .about-me-section {
    width: 55vw;
    margin-top: 60px; }

  .about-me {
    width: 15vw; }

  .about-me2 {
    width: 30vw; }

  .get-resume-text {
    left: 537.44px;
    top: 1900px; }

  .languages-background {
    width: 165px;
    height: 414px;
    margin-right: 10px; }

  .languages-text {
    margin-left: 1vw; }

  .languages-text2 {
    margin-left: 1vw; }

  .frameworks-background {
    width: 150px;
    height: 414px; }

  .frameworks-text {
    margin-left: 1vw; }

  .frameworks-text2 {
    margin-left: 1vw; }

  .skills-background {
    width: 150px;
    height: 414px; }

  .skills-text {
    margin-left: 1vw; }

  .skills-text2 {
    margin-left: 1vw; }

  .skills-section {
    height: 50vh;
    width: 100vw;
    margin-top: -150px; }

  .colab-section {
    width: 55vw;
    margin-top: 70px;
    padding: 20px;
    margin-right: 100px; }

  .collaboration-text {
    width: 30vw; }

  .collaboration-text2 {
    width: 50vw; }

  .footerBackground {
    width: 70vw;
    border-radius: 10% 0 0 40%;
    float: right; }

  .social-footer {
    margin-top: 140px;
    width: 100vw;
    display: flex;
    justify-self: center;
    margin-left: 60vw; }

  form {
    height: 50vh; }

  #fname1 {
    margin-left: 10vw;
    width: 40vw; }

  #fname2 {
    margin-left: 10vw;
    width: 40vw; }

  #fname3 {
    margin-left: 10vw;
    width: 40vw; }

  #labe {
    position: absolute;
    top: 3910px; }

  #form-button {
    margin-left: 15vw; }

  .github2 {
    margin-left: -20vw;
    margin-right: 5vw; }

  .twitt2 {
    font-style: normal;
    width: 30px;
    height: 30px;
    left: 1330px;
    top: 2970px;
    margin-right: 5vw; }

  .email {
    margin-bottom: -108px;
    margin-left: 50vw; }

  .hline {
    width: 95%;
    margin-top: 0;
    float: right; }

  .bottom {
    margin-left: 5vw;
    width: 50vw; }

  .bFix {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    margin-right: 0; } }
@media (min-width: 650px) {
  .skills-background {
    width: 200px;
    margin-right: 10px; }

  .frameworks-background {
    width: 200px;
    margin-right: 10px; }

  .languages-background {
    width: 200px;
    margin-right: 10px; }

  .skills-section {
    height: 50vh;
    width: 100vw;
    margin-top: -150px; } }
@media (min-width: 700px) {
  .projectText {
    font-size: 1rem; }

  .skills-background {
    width: 200px;
    margin-right: 30px; }

  .frameworks-background {
    width: 200px;
    margin-right: 30px; }

  .languages-background {
    width: 200px;
    margin-right: 30px; } }
@media (min-width: 890px) {
  .skills-background {
    width: 200px;
    margin-right: 40px; }

  .frameworks-background {
    width: 200px;
    margin-right: 40px; }

  .languages-background {
    width: 200px;
    margin-right: 40px; }

  .projects-pic {
    width: 480px; }

  .projects {
    width: 480px; }

  #third-div {
    width: 480px; }

  #fourth-div {
    width: 480px; }

  #fifth-div {
    width: 480px; }

  #sixth-div {
    width: 480px; } }
@media (min-width: 1920px) {
  .email {
    margin-top: -108px; }

  .bFix {
    margin-bottom: 216px; }

  .hline {
    width: 95%; }

  .footerBackground {
    margin-top: 50px; }

  .skills-background {
    width: 230px; }

  .frameworks-background {
    width: 230px; }

  .languages-background {
    width: 230px; } }

/*# sourceMappingURL=index.css.map */
