@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&family=Outfit:wght@600&family=Roboto+Slab:wght@500&display=swap');

body {
  /* height: 100%; */
  /* width: 100%; */
  background-color: whitesmoke;
}

.container {
  /* height: 100%; */
  /* width: 120%; */
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HERO SECTION */
.hero {
  /* position: relative; */
  border: 2.5vw solid yellow;
  width: 35vw;
  height: 35vw;
  top: 2vh;
  left: 15vw;
  margin-top: 20px;
  margin-left: 35vw;
  /* box-shadow: .5vw .5vw .5vw black; */
}

.social {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.fab {
  color: midnightblue;
  font-size: 3vw;
  text-shadow: .2vw .2vw .5vw rgb(129, 118, 118);
  margin-left: 3vw;
}

.design2 {
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  background-color:white;
  background-image:
  radial-gradient(midnightblue 9px, transparent 10px),
  repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
}

.title {
  width: 60vw;
  height: auto;
  /* background-color: red; */
  /* z-index: 2; */
  /* position: relative; */
  /* top: -38vh; */
  right: 40vw;
  margin-top: -22vw;
  margin-right: 17%;
}

.name {
  width: 30vw;
  font-size: 6vw;
  font-family: Roboto Slab;
  text-shadow: .2vw .2vw .5vw black;
  color: rgb(104, 94, 94);
  background-color: whitesmoke;
  /* position: relative; */
  /* top: -19vw;
  right: 3vw; */
  /* margin-top: 40px; */
}

.slug {
  /* border-radius: 50%; */
  /* width: 30vw;
  height: 30vh;
  background-color:white;
  background-image:
  radial-gradient(midnightblue 9px, transparent 10px),
  repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
   */
  /* position: relative; */
  /* top: -35vw;
  left: -18vw; */
  /* margin-top: -40vh; */
  margin-right:10vw;
}

.full-stack {
  margin-top: 2vh;
  width: 30vw;
  font-size: 4.5vw;
  font-family: Roboto Slab;
  /* text-shadow: .2vw .2vw .5vw black; */
  color: rgb(104, 94, 94);
  /* background-color: white; */
}

.work {
  margin-top: -5%;
  width: 65vw;
  font-size: 3vw;
  font-family: Roboto Slab;
  /* text-shadow: .2vw .2vw .5vw black; */
  color: rgb(104, 94, 94);
  /* background-color: white; */
}

/* PROJECTS SECTION */

.phead {
  width: 100%;
  font-size: 3vw;
  font-family: Roboto Slab;
  text-shadow: .2vw .2vw .5vw rgb(95, 89, 89);
  text-align: center;
  color: rgb(104, 94, 94);
  /* background-color: white; */
  /* position: relative; */
  margin-top: 0vh;
  margin-bottom: 20px;
}

/* .projects {
  display: flex;
  flex-direction: column;
} */

.projects {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  /* align-items: center; */
  text-align: center;
  /* position: relative; */
  /* top: -63vh;
  left: 0vw; */
}

.card {
  width: 40vw;
  margin-left:25vw;
  box-shadow:.2vw .2vw .5vw rgb(95, 89, 89);
  z-index: 3;
  margin-top: -160px;
}

.c1:hover {
  box-shadow:.5vw .5vw .5vw .5vw rgb(95, 89, 89);
  width: 24vw;
  height: 60vw;
  cursor:pointer;
}

.card-title {
  font-size: 3.5vw;
  font-family: Outfit, sans;
  /* text-shadow: .2vw .2vw .5vw black; */
  /* color: rgb(51, 46, 46); */
  color: black;
  background-color: white;
}

.card-text {
  font-family: Mukta, sans;
  font-size: 3vw;
  /* font-family: Mukta; */
}

.icon-pic {
  margin-right: 0px;
  margin-top: 0vh;
  width: 4vw;
}

.design3-1 {
  width: 40vw;
  height: 180px;
  background-color:white;
  background-image:
  radial-gradient(rgb(56, 53, 53) 9px, transparent 10px),
  repeating-radial-gradient(yellow 0, yellow, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  /* position: absolute; */
  /* top: -4vw;
  left: 30vw; */
  margin-left: 20vw;
  z-index: 0;
}

.design3-2 {
  width: 40vw;
  height: 180px;
  background-color:white;
  background-image:
  radial-gradient(yellow 9px, transparent 10px),
  repeating-radial-gradient(yellow 0, yellow 4px, transparent 5px, transparent 20px, yellow 21px, yellow 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  /* position: absolute; */
  /* top: 11vh;
  left: 62.5vw; */
  margin-left: 20vw;
  margin-top: 20px;
  z-index: 0;
}

.design3-3 {
  width: 40vw;
  height: 180px;
  background-color:white;
  background-image:
  radial-gradient(midnightblue 9px, transparent 10px),
  repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  /* position: absolute; */
  /* top: 10.5vh;
  left: 2.5vw; */
  margin-left: 20vw;
  margin-top: 20px;
  z-index: 0;
}

/* ABOUT ME */

.about-head {
  width: 100%;
  font-size: 3vw;
  font-family: Roboto Slab;
  text-shadow: .2vw .2vw .5vw rgb(95, 89, 89);
  text-align: center;
  color: rgb(104, 94, 94);
  /* background-color: white; */
  /* position: relative; */
  /* top: -40vh; */
  margin-top: 30px;
}

.about-me {
  width: 80vw;
  height: 30vw;
  background-color:white;
  background-image:
  radial-gradient(midnightblue 9px, transparent 10px),
  repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  /* position: relative; */
  top: -40vh;
  /* left: 0vw; */
  margin-top: 0px;
}

.about-text {
  background-color: white;
  height: 90%;
  width: 90%;
  margin-left: 4vw;
  margin-top: 1.5vh;
  padding: 1vw;
  text-align: center;
  font-family: Mukta, sans;
  font-size: 3vw;
}

.resume {
  font-family: Mukta, sans;
  font-size: 1.4vw;
}

.button {
  height: 2vw;
  padding: 0vw;
  padding-bottom: 5vw;
  margin-bottom: 5vw;
}
.resume-button {
  margin-top: -1.8vw;
}

/* PROFICIENT */

/* .cards {
  width: 30vw;
  margin-right: 100vw;
}

.c-body {
  width: vw;
  padding-left: 30vw;
} */

.card-subtitle {
  font-size: 1.4vw;
}

.pro-head {
  width: 100%;
  font-size: 3vw;
  font-family: Roboto Slab;
  text-shadow: .2vw .2vw .5vw rgb(95, 89, 89);
  text-align: center;
  color: rgb(104, 94, 94);
  /* background-color: white; */
  /* position: relative; */
  /* top: -17vh; */
  margin-top: 50px;
}

.proficient-in {
  width: 90vw;
  display: flex;
  flex-direction: column;
  /* justify-content:space-evenly; */
  text-align: center;
  /* position: relative; */
  /* top: -4vh; */
  margin-top: 20px;
}

.skills-back {
  width: 25vw;
  height: 35vw;
  background-color:white;
  background-image:
  radial-gradient(midnightblue 9px, transparent 10px),
  repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  /* position: relative; */
  /* top: -10vh;
  left: 0vw; */
  margin-top: 0px;
  margin-left: 33vw;
}

.skill-list {
  margin-left: -3vw;
  margin-top: -5vw;
  font-size: 3vw;
}
.list-text {
  font-size: 2.5vw;
}

.skills-text {
  background-color: white;
  height: 30vw;
  width: 30vw;
  margin-left: -4vw;
  margin-top: 5.5vh;
  /* padding: 1vw; */
  text-align: center;
  font-family: Mukta, sans;
  /* font-size: 3vw; */
}

.framework-back {
  width: 25vw;
  height: 35vw;
  background-color:white;
  background-image:
  radial-gradient(midnightblue 9px, transparent 10px),
  repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  /* position: relative; */
  /* top: -10vh;
  left: 0vw; */
  margin-top: 30px;
  margin-left: 33vw;
}

.framework-text {
  background-color: white;
  height: 25vw;
  width: 30vw;
  margin-left: -4vw;
  margin-top: 5.5vh;
  /* padding: 1vw; */
  text-align: center;
  font-family: Mukta, sans;
  font-size: 1.4vw;
}

.languages-back {
  width: 25vw;
  height: 35vw;
  background-color:white;
  background-image:
  radial-gradient(midnightblue 9px, transparent 10px),
  repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  /* position: relative; */
  /* top: -10vh;
  left: 0vw; */
  margin-top: 30px;
  margin-left: 33vw;
}

.languages-text {
  background-color: white;
  height: 25vw;
  width: 30vw;
  margin-left: -4vw;
  margin-top: 5.5vh;
  padding: 1vw;
  text-align: center;
  font-family: Mukta, sans;
  font-size: 1.4vw;
}

/* FOOTER */

 .contact-head {
  width: 100%;
  font-size: 3vw;
  font-family: Roboto Slab;
  text-shadow: .2vw .2vw .5vw rgb(95, 89, 89);
  text-align: center;
  color: rgb(104, 94, 94);
  /* background-color: white; */
  /* position: relative; */
  /* top: -1vh; */
  margin-top: 30px;
}

.contact {
  width: 85vw;
  height: 35vw;
  background-color: rgba(25, 25, 112, 1);
  /* position: relative; */
  top: -1vh;
  border: 1vw solid yellow;
}

.contact-text {
  /* background-color: white; */
  height: 75%;
  width: 90%;
  margin-left: 3vw;
  margin-top: 3vh;
  padding: 1vw;
  text-align: center;
  font-family: Mukta, sans;
  font-size: 2.5vw;
  color: white;
}

form {
  margin-top: -30vh;
  margin-left: 10vw;
  width: 80vw;
  /* display: flex;
  flex-direction: row;
  justify-content:space-evenly; */
}

/* #fname1 {
  width: 17vw;
  height: 6vh;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  box-shadow: 0px 7px 15px rgba(95, 104, 186, 0.13);
  border-radius: 14px;
  margin-right: 2vw;
}

#fname2 {
  width: 17vw;
  height: 6vh;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  box-shadow: 0px 7px 15px rgba(95, 104, 186, 0.13);
  border-radius: 14px;
  margin-right: 2vw;
}

#fname3 {
  width: 30vw;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  box-shadow: 0px 7px 15px rgba(95, 104, 186, 0.13);
  border-radius: 14px;
  margin-right: 2vw;
} */

#form-button {
  margin-left: 20vw;
  margin-top: 3px;
}

@media screen and (max-width: 400px) {
  
}

@media screen and (max-width: 300px) {
  .skill-list {
    margin-top: -10vw;
  }
}

