@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&family=Outfit:wght@600&family=Roboto+Slab:wght@500&display=swap');

body {
  background-color: whitesmoke;
}

.wrapper {
  border: 5px solid black;
  width: 95%;
  margin-left: 2.5%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HERO SECTION */
.hero {
  border: 2.5vw solid yellow;
  width: 35vw;
  height: 35vw;
  top: 2vh;
  left: 15vw;
  margin-top: 20px;
  margin-left: 35vw;
}

.social {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.fab {
  color: midnightblue;
  font-size: 3vw;
  text-shadow: .2vw .2vw .5vw rgb(129, 118, 118);
  margin-left: 3vw;
}

.design2 {
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  background-color:white;
  background-image:
  radial-gradient(midnightblue 9px, transparent 10px),
  repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
}

.title {
  width: 60vw;
  height: auto;
  right: 40vw;
  margin-top: -22vw;
  margin-right: 17%;
}

.name {
  width: 30vw;
  font-size: 6vw;
  font-family: Roboto Slab;
  text-shadow: .2vw .2vw .5vw black;
  color: rgb(104, 94, 94);
  background-color: whitesmoke;
}

.slug {
  margin-right:10vw;
}

.full-stack {
  margin-top: 2vh;
  width: 30vw;
  font-size: 4.5vw;
  font-family: Roboto Slab;
  color: rgb(104, 94, 94);
}

.work {
  margin-top: -5%;
  width: 65vw;
  font-size: 3vw;
  font-family: Roboto Slab;
  color: rgb(104, 94, 94);
}

/* PROJECTS SECTION */

.phead {
  width: 100%;
  font-size: 3vw;
  font-family: Roboto Slab;
  text-shadow: .2vw .2vw .5vw rgb(95, 89, 89);
  text-align: center;
  color: rgb(104, 94, 94);
  margin-top: 0vh;
  margin-bottom: 20px;
}

.projects {
  width: 90vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card {
  width: 40vw;
  margin-left:25vw;
  box-shadow:.2vw .2vw .5vw rgb(95, 89, 89);
  z-index: 3;
  margin-top: -160px;
}

.card-title {
  font-size: 3.5vw;
  font-family: Outfit, sans;
  color: black;
  background-color: white;
}

.card-text {
  font-family: Mukta, sans;
  font-size: 3vw;
}

.icon-pic {
  margin-right: 0px;
  margin-top: 0vh;
  width: 4vw;
}

.design3-1 {
  width: 40vw;
  height: 180px;
  background-color:white;
  background-image:
  radial-gradient(rgb(56, 53, 53) 9px, transparent 10px),
  repeating-radial-gradient(yellow 0, yellow, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  margin-left: 20vw;
  z-index: 0;
}

.design3-2 {
  width: 40vw;
  height: 180px;
  background-color:white;
  background-image:
  radial-gradient(yellow 9px, transparent 10px),
  repeating-radial-gradient(yellow 0, yellow 4px, transparent 5px, transparent 20px, yellow 21px, yellow 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  margin-left: 20vw;
  margin-top: 20px;
  z-index: 0;
}

.design3-3 {
  width: 40vw;
  height: 180px;
  background-color:white;
  background-image:
  radial-gradient(midnightblue 9px, transparent 10px),
  repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  margin-left: 20vw;
  margin-top: 20px;
  z-index: 0;
}

/* ABOUT ME */

.about-head {
  width: 100%;
  font-size: 3vw;
  font-family: Roboto Slab;
  text-shadow: .2vw .2vw .5vw rgb(95, 89, 89);
  text-align: center;
  color: rgb(104, 94, 94);
  margin-top: 30px;
}

.about-me {
  width: 80vw;
  height: 30vw;
  background-color:white;
  background-image:
  radial-gradient(midnightblue 9px, transparent 10px),
  repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  top: -40vh;
  margin-top: 0px;
}

.about-text {
  background-color: white;
  height: 90%;
  width: 90%;
  margin-left: 4vw;
  margin-top: 1.5vh;
  padding: 1vw;
  text-align: center;
  font-family: Mukta, sans;
  font-size: 3vw;
}

.resume {
  font-family: Mukta, sans;
  font-size: 1.6vw;
}

.resume-button {
  margin-top: -2vw;
  height: 10vw;
  padding: 0;
}

/* PROFICIENT */

.card-subtitle {
  font-size: 1.4vw;
}

.pro-head {
  width: 100%;
  font-size: 3vw;
  font-family: Roboto Slab;
  text-shadow: .2vw .2vw .5vw rgb(95, 89, 89);
  text-align: center;
  color: rgb(104, 94, 94);
  margin-top: 50px;
}

.proficient-in {
  width: 90vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.skills-back {
  width: 25vw;
  height: 35vw;
  background-color:white;
  background-image:
  radial-gradient(midnightblue 9px, transparent 10px),
  repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  margin-top: 0px;
  margin-left: 33vw;
}

.skill-list {
  margin-left: -3vw;
  margin-top: -5vw;
  font-size: 3vw;
}
.list-text {
  font-size: 2.5vw;
}

.skills-text {
  background-color: white;
  height: 30vw;
  width: 30vw;
  margin-left: -4vw;
  margin-top: 5.5vh;
  text-align: center;
  font-family: Mukta, sans;
}

.framework-back {
  width: 25vw;
  height: 35vw;
  background-color:white;
  background-image:
  radial-gradient(midnightblue 9px, transparent 10px),
  repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  margin-top: 30px;
  margin-left: 33vw;
}

.framework-text {
  background-color: white;
  height: 25vw;
  width: 30vw;
  margin-left: -4vw;
  margin-top: 5.5vh;
  text-align: center;
  font-family: Mukta, sans;
  font-size: 1.4vw;
}

.languages-back {
  width: 25vw;
  height: 35vw;
  background-color:white;
  background-image:
  radial-gradient(midnightblue 9px, transparent 10px),
  repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  margin-top: 30px;
  margin-left: 33vw;
}

.languages-text {
  background-color: white;
  height: 25vw;
  width: 30vw;
  margin-left: -4vw;
  margin-top: 5.5vh;
  padding: 1vw;
  text-align: center;
  font-family: Mukta, sans;
  font-size: 1.4vw;
}

/* FOOTER */

 .contact-head {
  width: 100%;
  font-size: 3vw;
  font-family: Roboto Slab;
  text-shadow: .2vw .2vw .5vw rgb(95, 89, 89);
  text-align: center;
  color: rgb(104, 94, 94);
  margin-top: 30px;
}

.contact {
  width: 93.5vw;
  height: 35vw;
  background-color: rgba(25, 25, 112, 1);
  top: -1vh;
  border: 1vw solid yellow;
  border-left: none;
  border-right: none;
}

.contact-text {
  height: 75%;
  width: 90%;
  margin-left: 3vw;
  margin-top: 3vh;
  padding: 1vw;
  text-align: center;
  font-family: Mukta, sans;
  font-size: 2.5vw;
  color: white;
}

form {
  margin-top: -12vw;
  margin-left: 10vw;
  width: 80vw;
}

#form-button {
  margin-left: 20vw;
  margin-top: 3px;
}

.bottom {
  margin-top: -10vw;
}

.bottom2 {
  color: white;
  margin-top: 5vw;
  float: right;
  font-size: 1vw;
  margin-right: 2vw;
}

@media screen and (max-width: 300px) {
  .skill-list {
    margin-top: -10vw;
  }
}

@media screen and (min-width: 650px) {

  .full-stack {
    font-size: 3vw;
  }

  .work {
    font-size: 2vw;
    width: 35vw;
  }

  .slug {
    margin-right: 37vw;
  }

  .phead {
    margin-top: 100px;
  }

  .projects {
    width: 100w;
    /* display: flex;
    flex-direction: row;
    justify-content:space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    margin-right: 8.5vw;
  }

  .card {
    width: 27vw;
    height: 40vw;
    margin-left:0vw;
    margin-top: 0px;
    margin-right: 0vw;
    z-index: 3;
  }

  .c1 {
    margin-left: -57vw;
  }

  .c2 {
    margin-left: 35vw;
    margin-top: -40vw;
  }

  .c3 {
    margin-top: -40vw;
    margin-left: -17vw
  }

  .design3-1 {
    width: 20vw;
    height: 35vw;
    margin-left: -8vw;
    margin-top: -20px;
    z-index: 0;
    position: relative;
    left: 10vw;
  }

  .design3-2 {
    width: 20vw;
    height: 35vw;
    margin-left: -50vw;
    margin-top: -20px;
    z-index: 0;
  }

  .design3-3 {
    width: 20vw;
    height: 35vw;
    margin-top: -41vw;
    margin-left: 0;
    /* margin-top: -20px; */
    z-index: 0;
  }

  .card-title {
    font-size: 2vw;
  }
  
  .card-text {
    font-size: 1.5vw;
  }

  .icon-pic {
    margin-right: -20px;
    margin-top: 0vh;
    width: 4vw;
  }

  .about-head {
    margin-top: 70px;
  }

  .about-me {
    height: 20vw;
  }
  
  .about-text {
    font-size: 2vw;
  }

  .resume-button {
    margin-top: 0vw;
  }
  .resume {
    font-size: 2vw;
  }

  
  .button {
    height: 2vw;
    padding: 0vw;
    padding-bottom: 3vw;
    padding-top: 1vw;
    margin-bottom: 5vw;
  }

  .pro-head {
    margin-top: 70px;
  }
  
  .proficient-in {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 20px;
    margin-right: 4vw;
  }
  
  .skills-back {
    width: 25vw;
    height: 35vw;
    margin-top: 0px;
    margin-left: 4vw;
  }
  
  .skill-list {
    margin-left: -1.5vw;
    margin-top: 0vw;
    font-size: 3vw;
  }
  .list-text {
    font-size: 2vw;
  }
  
  .skills-text {
    height: 25vw;
    width: 20vw;
    margin-left: 1vw;
    margin-top: 5.5vw;
  }
  
  .framework-back {
    width: 25vw;
    height: 35vw;
    margin-top: 0px;
    margin-left: 10vw;
  }
  
  .framework-text {
    height: 25vw;
    width: 20vw;
    margin-left: 1vw;
    margin-top: 5.5vw;
    font-size: 1.4vw;
  }
  
  .languages-back {
    width: 25vw;
    height: 35vw;
    margin-top: 0px;
    margin-left: 10vw;
  }
  
  .languages-text {
    height: 25vw;
    width: 20vw;
    margin-left: 1vw;
    margin-top: 5.5vw;
    font-size: 1.4vw;
  }
  
  /* FOOTER */
  
   .contact-head {
    width: 100%;
    font-size: 3vw;
    margin-top: 70px;
  }
  
  .contact {
    width: 93.5vw;
    height: 35vw;
    background-color: rgba(25, 25, 112, 1);
    /* position: relative; */
    top: -1vh;
    border-top: 1vw solid yellow;
    border-bottom: 1vw solid yellow;
    border-left:none;
    border-right: none;
  }
  
  .contact-text {
    /* background-color: white; */
    height: 75%;
    width: 90%;
    margin-left: 3vw;
    margin-top: 3vh;
    padding: 1vw;
    text-align: center;
    font-family: Mukta, sans;
    font-size: 2.5vw;
    color: white;
  }
  
  form {
    margin-top: -4vw;
    margin-left: 10vw;
    width: 80vw;
    /* display: flex;
    flex-direction: row;
    justify-content:space-evenly; */
  }

  #form-button {
    height: 5vw;
  }

  .bottom2 {
    color: white;
    margin-top: -3vh;
    float: right;
    font-size: 1vw;
    margin-right: 2vw;
  }
}

@media screen and (min-width: 850px) {
  .bottom2 {
    margin-top: 0vh;
  }
}

@media screen and (min-width: 1100px) {
  .bottom2 {
    margin-top: 3vh;
  }
}

@media screen and (min-width: 950px) {
  .skill-list {
    margin-left: 0;
  }
}
